/* ============================================================
moon and text by David Gumm
twinkling stars by Nick Mkrtchyan
https://www.facebook.com/sonick.pk
http://www.Mkrtchyan.zz.mu
=============================================================== */

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  -webkit-transition: paused !important;
  -moz-transition: paused !important;
  -ms-transition: paused !important;
  -o-transition: paused !important;
}

@keyframes display-text {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes move-moon {
  from {
    margin-top: 110vh;
    margin-left: 10vw;
  }
  to {
    margin-top: -15vw;
  }
}

.js-loading * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-moz-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-ms-keyframes move-clouds-back {
  from {
    background-position: 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@-webkit-keyframes bluegreyPulse {
  from {
    background-color: rgba(144, 154, 175, 0.25);
    -webkit-box-shadow: 0 0 16px #9199a5;
  }
  50% {
    background-color: rgba(156, 164, 175, 0.25);
    -webkit-box-shadow: 0 0 18px #9ca4af;
  }
  to {
    background-color: rgba(144, 154, 175, 0.25);
    -webkit-box-shadow: 0 0 16px #9199a5;
  }
}

body {
  background: #000
    url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
    center;
  overflow-y: hidden;
}

.twinkling {
  width: 100%;
  height: 100%;
  background: transparent
    url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat
    top center;
  z-index: -1;

  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

html,
body {
  height: 100%;
  width: 100%;
}

p {
  position: absolute;
  font-family: "Shadows Into Light", cursive;
  font-size: 1.5rem;
  text-align: center;
  backgound-color: #f7f7f7;
  color: white;
  text-align: center;
  z-index: 1000;
  width: 100%;
  margin: auto;
  margin-top: 25px;
  border-radius: 15vw;
  text-shadow: 1px 1px 2px black;
  visibility: hidden;
  opacity: 0;
  -moz-animation: display-text 5s ease forwards;
  -ms-animation: display-text 5s ease forwards;
  -o-animation: display-text 5s ease forwards;
  -webkit-animation: display-text 5s ease forwards;
  animation: display-text 5s ease forwards;
}

.text-0 {
  visibility: hidden;
  opacity: 0;
  -moz-animation: display-text 5s ease forwards;
  -ms-animation: display-text 5s ease forwards;
  -o-animation: display-text 5s ease forwards;
  -webkit-animation: display-text 5s ease forwards;
  animation: display-text 5s ease forwards;
}

.animation-delay {
  -moz-animation-delay: 5s;
  -ms-animation-delay: 5s;
  -o-animation-delay: 5s;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.the-moon {
  position: absolute;
  width: 30vw;
  height: 30vw;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  margin-top: -15vw; /*set to a negative number 1/2 of your height*/
  margin-left: -15vw; /*set to a negative number 1/2 of your width*/
  -moz-animation: move-moon 5s ease forwards;
  -ms-animation: move-moon 5s ease forwards;
  -o-animation: move-moon 5s ease forwards;
  -webkit-animation: move-moon 5s ease forwards;
  animation: move-moon 5s ease forwards;
}

.moon {
  position: absolute;
  width: 30vw;
  height: 30vw;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  margin-top: -15vw; /*set to a negative number 1/2 of your height*/
  margin-left: -15vw; /*set to a negative number 1/2 of your width*/
}

.moon-image {
  z-index: 5;
  background: transparent url(http://geekthinktank.com/tmp/FullMoon2010-sm.png);
  background-repeat: no-repeat;
  background-size: 30vw 30vw;
}

.moon-glow {
  z-index: 4;
  border-radius: 15vw;
  -webkit-animation-name: bluegreyPulse;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
}

@media only screen and (max-width: 600px) {
  .moon-image {
    margin-top: 10vh;
  }
  .moon {
    width: 40vw;
    height: 40vw;
    border-radius: 20vw;
    background-size: 40vw 40vw;
  }
}
@media only screen and (min-width: 601px, max-width: 768px) {
  .moon {
    width: 20vw;
    height: 20vw;
    border-radius: 10vw;
    background-size: 20vw 20vw;
  }
}

.hidden {
  display: none;
}
